.firstcloud{
  margin-left: 1000px;
}
.firstandsecondheading{
  line-height: 1.5;
  margin-left: 500px;
  font-size: 1.5rem;
  font: small-caps bold 24px/1 sans-serif;
  color: #66BFBF;
}
.secondcloud{
  margin-bottom: 300px;
  margin-left: 120px;
}
.mountain{
  align-content: center;
}
#one{
  background-color: #EEEEEE;
}
#two{
  background-color: #EEEEEE;
}
/*middle container*/

.sharif-img{
  width:300px;
margin-left: 400px;
}
.hello-class{
  font: small-caps bold 24px/1 sans-serif;
  color: #66BFBF;
margin-left: 500px;
}
.intro{
  font-size: 1.5 rem;
  line-height: 2;
  color: #66BFBF;
    font: small-caps bold 24px/1 sans-serif;
  margin: auto;

}
.code-img{
  width:300px;
  border-radius: 50%;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
  color: #66BFBF;
  font-size: 2.5 rem;
}
.second-heading{
  color: #66BFBF;
  font-size: 2 rem;
  margin-left: 620px;
}
.skillheading{
  color: #66BFBF;
  margin-left: 450px;
  font-size: 2 rem;

}
.third-heading{
  font-size: 2.5 rem;
  width: 50%;
  line-height: 2;
  }
.second-intro{
  width: 70%;
  line-height: 2;
  font-size: 3 rem;
  font: small-caps bold 24px/1 sans-serif;
}
.wing-heading{
  font-size: 2.5 rem;
  width: 50%;
  line-height: 2;
}
.last-intro{
  font-size: 2.5 rem;
  width: 50%;
  line-height: 2;
  font: small-caps bold 24px/1 sans-serif;
}
.angela{
  width: 200px;
}
.paragraph{
  font-size: 1.5 rem;
  cell-spacing:100px;
}
.final{
  font-size: 2rem;
  align-content: center;
  color: #66BFBF;
  margin-left: 500px;
}
/*button Generator*/
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 0px 1px 1px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 500px;
}

.btn:hover {
  background: #3cfc89;
  background-image: -webkit-linear-gradient(top, #3cfc89, #3498db);
  background-image: -moz-linear-gradient(top, #3cfc89, #3498db);
  background-image: -ms-linear-gradient(top, #3cfc89, #3498db);
  background-image: -o-linear-gradient(top, #3cfc89, #3498db);
  background-image: linear-gradient(to bottom, #3cfc89, #3498db);
  text-decoration: none;
}
.mwisho{
  background-color:red;
  padding-top: 50px;
}
